@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Roboto+Condensed:wght@300;400&display=swap");
* {
  opacity: 1 !important;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #9f705f;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
  background-image: linear-gradient(
      30deg,
      #f78b45 12%,
      transparent 12.5%,
      transparent 87%,
      #f78b45 87.5%,
      #f78b45
    ),
    linear-gradient(
      150deg,
      #f78b45 12%,
      transparent 12.5%,
      transparent 87%,
      #f78b45 87.5%,
      #f78b45
    ),
    linear-gradient(
      30deg,
      #f78b45 12%,
      transparent 12.5%,
      transparent 87%,
      #f78b45 87.5%,
      #f78b45
    ),
    linear-gradient(
      150deg,
      #f78b45 12%,
      transparent 12.5%,
      transparent 87%,
      #f78b45 87.5%,
      #f78b45
    ),
    linear-gradient(
      60deg,
      #f78b4577 25%,
      transparent 25.5%,
      transparent 75%,
      #f78b4577 75%,
      #f78b4577
    ),
    linear-gradient(
      60deg,
      #f78b4577 25%,
      transparent 25.5%,
      transparent 75%,
      #f78b4577 75%,
      #f78b4577
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
.pozadina {
  width: 1000px;
  height: 650px;
  color: black;
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 1px 1px;
  border-radius: 4vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: 1;
  background-color: rgb(235, 235, 235);
}
.box {
  font-size: 5vh;
  margin: 0px 15vh;
  text-align: center;
  font-family: "Dancing Script";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 70vh;
}
.box button {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
  padding: 2vh;
  font-size: 7vh;
  border-radius: 2vh;
  color: rgb(211, 211, 211);
  border: 1vh solid rgb(61, 61, 61);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(235, 235, 235, 0.15) 0px -36px 30px 0px inset,
    rgba(194, 194, 194, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(170, 170, 170, 0.09) 0px 4px 2px,
    rgba(194, 194, 194, 0.09) 0px 8px 4px,
    rgba(145, 145, 145, 0.09) 0px 16px 8px,
    rgba(173, 173, 173, 0.09) 0px 32px 16px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(48, 48, 48);
}

.box button:hover {
  color: rgb(61, 61, 61);
  border: 1vh solid rgb(165, 165, 165);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: rgb(224, 224, 224);
}
